{% extends "include/homepage.html" %}

{% load static %}

{% block content %}
<!-- end main header navbar -->
<!-- breadcrumb -->
<div class="container header-mt">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb custom-breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">FAQ</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- end breadcrumb -->
<!-- main content -->
<div class="main-content pb-80">
    <div class="faq-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="main-title">Shopping Questions</h1>
                </div>
                <div class="col-md-6">
                    <!-- Faq Content Start -->
                    <div class="faq-content">
                        <h3 class="title">Do you have a delivery service?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, blanditiis
                            doloribus eius est, impedit iste labore, minus nemo quidem reiciendis rerum voluptas!
                            Dolorem doloremque iste quam sunt tempora tempore.</p>
                    </div>
                    <!-- Faq Content End -->
                </div>
                <div class="col-md-6">
                    <!-- Faq Content Start -->
                    <div class="faq-content">
                        <h3 class="title">What if a part is missing in the package?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, blanditiis
                            doloribus eius est, impedit iste labore, minus nemo quidem reiciendis rerum voluptas!
                            Dolorem doloremque iste quam sunt tempora tempore.</p>
                    </div>
                    <!-- Faq Content End -->
                </div>
                <div class="col-md-6">
                    <!-- Faq Content Start -->
                    <div class="faq-content">
                        <h3 class="title"> What is our return policy?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, blanditiis
                            doloribus eius est, impedit iste labore, minus nemo quidem reiciendis rerum voluptas!
                            Dolorem doloremque iste quam sunt tempora tempore.</p>
                    </div>
                    <!-- Faq Content End -->
                </div>
                <div class="col-md-6">
                    <!-- Faq Content Start -->
                    <div class="faq-content">
                        <h3 class="title">How can I use a coupon code?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, blanditiis
                            doloribus eius est, impedit iste labore, minus nemo quidem reiciendis rerum voluptas!
                            Dolorem doloremque iste quam sunt tempora tempore.</p>
                    </div>
                    <!-- Faq Content End -->
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="main-title">Product Information</h1>
                </div>
                <div class="col-md-6">
                    <!-- Faq Content Start -->
                    <div class="faq-content">
                        <h3 class="title"> How do I know if an item is in stock?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, blanditiis
                            doloribus eius est, impedit iste labore, minus nemo quidem reiciendis rerum voluptas!
                            Dolorem doloremque iste quam sunt tempora tempore.</p>
                    </div>
                    <!-- Faq Content End -->
                </div>
                <div class="col-md-6">
                    <!-- Faq Content Start -->
                    <div class="faq-content">
                        <h3 class="title">Can I have my items delivered?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, blanditiis
                            doloribus eius est, impedit iste labore, minus nemo quidem reiciendis rerum voluptas!
                            Dolorem doloremque iste quam sunt tempora tempore.</p>
                    </div>
                    <!-- Faq Content End -->
                </div>
                <div class="col-md-6">
                    <!-- Faq Content Start -->
                    <div class="faq-content">
                        <h3 class="title">What can I do if an item is out of stock?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, blanditiis
                            doloribus eius est, impedit iste labore, minus nemo quidem reiciendis rerum voluptas!
                            Dolorem doloremque iste quam sunt tempora tempore.</p>
                    </div>
                    <!-- Faq Content End -->
                </div>
                <div class="col-md-6">
                    <!-- Faq Content Start -->
                    <div class="faq-content">
                        <h3 class="title">How can I request a refund?</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid architecto, blanditiis
                            doloribus eius est, impedit iste labore, minus nemo quidem reiciendis rerum voluptas!
                            Dolorem doloremque iste quam sunt tempora tempore.</p>
                    </div>
                    <!-- Faq Content End -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main content -->
<!-- footer -->
{% endblock %}