{% extends "include/homepage.html" %}

{% load static %}

{% block content %}
<!-- end main header navbar -->
<!-- breadcrumb -->
<div class="container header-mt">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb custom-breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "index" %}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Order tracking</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- end breadcrumb -->
<!-- main content -->
<div class="main-content pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-12 mx-auto">
                <div class="custom-form custom-form--box">
                    <h3 class="custom-form__title">Track your order</h3>
                    <form>
                        <div class="form-group custom-form__input">
                            <label for="orderNumber">Your Order Number</label>
                            <input type="text" class="form-control" id="orderNumber" placeholder="">
                        </div>
                        <div class="custom-form__btn">
                            <button type="submit" class="btn submit-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main content -->
<!-- footer -->
{% endblock %}