{% extends "include/homepage.html" %}

{% load static %}

{% block content %}
<!-- end main header navbar -->
<!-- breadcrumb -->
<div class="container header-mt">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb custom-breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Payment and Shipping</li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<!-- end breadcrumb -->
<!-- main content -->
<div class="main-content pb-80">
    <div class="container">
        <div class="row">
            <div class="col-12 general-info">
                <img src="images/minimal-chair.jpg" alt="" class="general-info__img">
                <div class="general-info__payment">
                    <h1 class="general-info__title">Payment Method</h1>
                    <div class="general-info__content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dolor fugit ipsum nostrum
                            placeat,
                            quidem
                            quisquam voluptates voluptatum. Ab culpa dicta et laborum nesciunt odio qui quisquam sunt
                            temporibus,
                            vitae.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae consequatur doloribus esse
                            fugit
                            impedit
                            modi nostrum numquam ratione sit temporibus. Accusantium architecto esse harum illo modi
                            quidem
                            quisquam
                            sint veniam voluptates voluptatum. Aliquid asperiores blanditiis consequatur exercitationem
                            labore
                            nobis
                            obcaecati perferendis perspiciatis porro praesentium, similique suscipit totam ut vel
                            voluptas!</p>
                    </div>
                    <div>
                        <img src="images/payment.jpg" alt="">
                    </div>
                </div>
                <div class="general-info__shipping">
                    <h2 class="general-info__title">Our shipping</h2>
                    <div class="general-info__content">
                        <p>Whether you’re shopping online or in store, you can afford to have someone else deliver your
                            purchases to
                            your home or office. No matter the size or number of items in your order, you can get it all
                            delivered.</p>
                        <h6><strong>Small Item Shipping</strong></h6>
                        <p>
                            Shipping rate is free for purchases more than $100.00. Once your order is picked and leaves
                            our
                            warehouse, you’ll receive a
                            tracking number via email. Size, weight, and other restrictions apply.</p>
                        <h6><strong>Large Item Shipping</strong></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad distinctio
                            doloremque
                            expedita
                            illum inventore maiores molestias odio quo suscipit.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end main content -->
<!-- footer -->
{% endblock %}